<div class='event-create'>

  <div class='event-title'>
    <p class='text'>イベント詳細</p>
    <h1 class='title'>EVENT DETAILS</h1>
  </div>

  <div class="event-box">
    <p class="text">イベントに参加しました</p>
    <%= link_to events_path, class:"btn" do %>
      <p class='btn text'>イベントを一覧に戻る ＞</p>
    <% end %>
    </div>
  </div>

</div>