<footer>

  <div class='footer-left'>
    <%= image_tag "logo.svg" , class:"footer-left logo" %>
    <p class="footer-left text"> © 2020 TRINT</p>
  </div>

  <ul class='footer-right'>
    <li><%= link_to "サービス概要", "/", class:"footer-right text" %></li>
    <li><%= link_to "よくある質問", "/", class:"footer-right text" %></li>
    <li><%= link_to "お問い合わせ", "/", class:"footer-right text" %></li>
  </ul>

</footer>