
$bb: #0073d7;
$by: #d9e021;

.event{
  padding-top: 100px;
}

// イベント作成完了画面

.event-create{
  height: 80vh;
  padding-top: 100px;
}

.event-box{
  height: 300px;
  width: 600px;
  margin: 0 auto;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & .text{
    font-size: 16px;
    color: black;
    font-weight: bold;
    letter-spacing: 2px;
    margin-top: -10px;
  }
  & .btn{
    margin-top: 10px;
    height: 30px;
    width: 300px;
    background-color: black;
    text-decoration: none;
    text-align: center;
    line-height: 18px;
    &.text{
      color: white;
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 2px;
    }
  }
}

@media (max-width: 600px) {
  .event-box{
    width: 400px;
    margin-top: 50px;
  }
}


// イベント一覧表示

.event-list-box{
  margin-top: 50px;
  background-color: #f2f2f2;
  padding: 80px 0;
}

.event-list{
  background-color: white;
  height: 100px;
  width: 600px;
  margin: 0 auto;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  & .status{
    background-color: $bb;
    height: 100px;
    width: 50px;
    writing-mode: vertical-rl;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
    text-align: center;
    line-height: 50px;
    margin-right: 20px;
  }
  & .date{
    width: 130px;
    font-size: 14px;
    font-weight: bold;
  }
  & .level-title{
    width: 300px;
    & .title{
      font-size: 18px;
      font-weight: bold;
      color: black;
      text-decoration: none;
      &:hover{
        color: $bb;
      }
    }
  }
  & .organizer{
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & .user-name{
      font-size: 8px;
      color: #333333;
      text-decoration: none;
    }
    & .user-img{
      border-radius: 50%;
      background-color: #B3B3B3;
      width: 50px;
      height: 50px;
    }
  }
}
.mon{
  color: red;
}
.sat{
  color: royalblue;
}

.levelev{
  font-size: 10px;
  height: 18px;
  font-weight: bold;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3px;
  border-radius: 10px;
  &.level-02{
    width: 40px;
    background-color: #ff7bac;
  }
  &.level-03{
    width: 50px;
    background-color: #f7931e;
  }
  &.level-04{
    width: 40px;
    background-color: #f15a24;
  }
  &.level-05{
    width: 50px;
    background-color: #8cc63f;
  }
  &.level-06{
    width: 40px;
    background-color: #0071bc;
  }
  &.level-07{
    width: 65px;
    background-color: #B3B3B3;
  }
}

@media (max-width: 600px) {
  .event-list-box{
    margin-top: 30px;
    background-color: #f2f2f2;
    padding: 40px 0;
  }
  .event-list{
    height: 70px;
    width: 450px;
    & .status{
      height: 70px;
      width: 50px;
    }
    & .organizer{
      display: none;
    }
    & .level-title{
      width: 300px;
      & .title{
        font-size: 15px;
      }
    }
  }
}


// イベント詳細

.event-show{
  display: flex;
  width: 600px;
  margin: 0 auto;
}

.event-show-side{
  background-color:#f2f2f2;
  width: 220px;
  height: 370px;
  margin-top: 100px;
  & .event-show-user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & .show-user-img{
      border-radius: 50%;
      width: 150px;
      height: 150px;
      margin: -100px 0 10px 0;
      border: 5px solid white;
    }
    & .show-user-name{
      font-size: 20px;
      font-weight: bold;
      color: #333333;
      text-decoration: none;
    }
  }
  & .event-show-item{
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    list-style: none;
    padding: 0 30px;
    & .event-show-list{
      margin-bottom: 10px;
      display: flex;
      align-items: center;
    }
  }
}

.material-icons{
  &.s{
  font-size: 18px;
  margin-right: 10px;
  }
  &.sp{
  font-size: 20px;
  margin-right: 10px;
  color: #f15a24;
  }
}

.event-show-main{
  width: 350px;
  padding-left: 30px;
  margin: 0 auto;
  & .title{
    font-size: 20px;
    font-weight: bold;
    color: black;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
  }
  & .text{
    font-size: 14px;
    color: black;
    white-space: pre-wrap;
  }
}

.input-participation{
  display: none;
}

.participant-bg{
  background-color: #f2f2f2;
  margin-top: -50px;
  padding: 20px 0 80px 0;
}

.event-title-mini{
  width: 600px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  & .title{
    font-size: 40px;
    font-family: 'Staatliches', cursive;
    letter-spacing: 2px;
    margin-right: 20px;
  }
  & .text{
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
  }
}

.participant-users{
  display: flex;
  width: 600px;
  margin: 0 auto;
  overflow: auto;
    & .participant-user{
      margin-right: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      & .user-name{
        font-size: 10px;
        font-weight: bold;
        color: #333333;
        text-decoration: none;
      }
      & .user-img{
        border-radius: 50%;
        background-color: #B3B3B3;
        width: 70px;
        height: 70px;
      }
    }
}
.space{
  height: 100px;
}

@media (max-width: 600px) {
  .event-show{
    flex-direction: column;
    width: 400px;
  }
  .event-show-side{
    margin: 0 auto;
    margin-top: 110px;
    width: 400px;
  }
  .event-show-main{
    margin-left: 0;
    margin-top: 30px;
    padding: 0;
  }
  .event-title-mini{
    width: 400px;
    & .title{
      font-size: 30px;
    }
    & .text{
      font-size: 10px;
    }
  }
  .participant-users{
    width: 400px;
      & .participant-user{
        margin-right: 20px;
        & .user-img{
          width: 50px;
          height: 50px;
        }
      }
  }
  .participant-bg{
    padding: 20px 0 40px 0;
  }
}