$bb: #0073d7;
$by: #d9e021;

// フッター

footer{
  height: 80px;
  width: 100vw;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-left{
  display: flex;
  margin-left: 20px;
  &.logo{
    width: 100px;
  }
  &.text{
    font-size: 10px;
    color: white;
  }
}

.footer-right{
  display: flex;
  margin-right: 20px;
  &.text{
    color: white;
    text-decoration: none;
    font-size: 12px;
    &:hover{
      color: $by;
    }
  }

}
