$bb: #0073d7;
$by: #d9e021;

/* エラーメッセージ */

.error-alert{
  white-space: pre-line;
  line-height: 70%;
  margin-left: 80px;
}
.error-message{
  font-size: 12px;
  color: red;
  list-style-type: square;
}

// ログイン

.session{
  height: 90vh;
  background-color: white;
}

.session-title,
.reg-title,
.event-title{
  margin: 20px 0 0 80px;
  display: flex;
  align-items: center;
  & .title{
    font-size: 60px;
    font-family: 'Staatliches', cursive;
    letter-spacing: 2px;
    margin-right: 20px;
  }
  & .text{
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
  }
}

.field{
  margin: 0px 80px;
  overflow: hidden;
  height: 150px;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  position: relative;
  & .item{
    position: absolute;
    left: 20px;
    font-size: 12px;
    font-weight: bold;
  }
  & .input{
    position: absolute;
    background-color: #f2f2f2;
    border: none;
    left: 100px;
    height: 40px;
    &.n{
      width: 300px;
    }
    &.hash{
      width: 200px;
    }
    &.long{
      margin-top: -100px;
      width: 600px;
      height: 230px;
    }
    &.image{
      width: 150px;
      height: 35px;
      font-size: 14px;
      font-weight: bold;
      border: 2px solid black;
      color: black;
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover{
        background-color: black;
        color: white;
      }
    }
    &.text{
      background-color: white;
      font-size: 14px;
      left: 260px;
      top: 15px;
    }
  }
}

.image-form{
  display: none;
}

.field.long{
  height: 300px;
}

.field-time{
  margin: 0px 80px;
  overflow: hidden;
  height: 150px;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  position: relative;
  & .item{
    position: absolute;
    left: 20px;
    font-size: 12px;
    font-weight: bold;
  }
  & .input-time{
    border: none;
    margin-left: 200px;
    & .time{
      width: 60px;
      height: 40px;
      background-color: #f2f2f2;
      border: none;
    }
  }
}


.mandatory{
  position: absolute;
  left: 150px;
  width: 50px;
  color: red;
  font-size: 10px;
}
.any{
  position: absolute;
  left: 150px;
  width: 50px;
  color: skyblue;
  font-size: 10px;
}

.submit{
  margin: 0px 80px;
  &.login,
  &.reg,
  &.create,
  &.joining{
  background-color: black;
  height: 50px;
  width: 100%;
  margin: 40px 0 100px 0;
  color: white;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 3px;
  cursor:pointer;
  &:hover{
    opacity: 80%;
  }
  }
}

