@charset "UTF-8";
.user {
  padding-top: 80px;
}

/* エラーメッセージ */
.error-alert {
  white-space: pre-line;
  line-height: 70%;
  text-align: center;
  padding-left: 0;
}

.error-message {
  font-size: 12px;
  color: red;
  list-style: none;
}

.session {
  height: 700px;
  padding-top: 100px;
  background-color: white;
}

.reg {
  padding-top: 100px;
  background-color: white;
}

.session-title,
.reg-title,
.event-title {
  margin: 0 auto;
  width: 600px;
  padding: 20px 0 0 20px;
}

.session-title .title,
.reg-title .title,
.event-title .title {
  font-size: 60px;
  font-family: 'Staatliches', cursive;
  letter-spacing: 2px;
  margin-top: -15px;
}

.session-title .text,
.reg-title .text,
.event-title .text {
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 2px;
}

@media (max-width: 600px) {
  .session-title,
  .reg-title,
  .event-title {
    width: 400px;
    text-align: center;
  }
  .session-title .title,
  .reg-title .title,
  .event-title .title {
    font-size: 50px;
    margin: -10px 0 0px 0;
  }
  .session-title .text,
  .reg-title .text,
  .event-title .text {
    font-size: 10px;
  }
}

.field {
  margin: 0 auto;
  width: 600px;
  height: 120px;
  border-bottom: 1px solid #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.field .field-item {
  width: 180px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.field .field-item .item {
  font-size: 13px;
  font-weight: bold;
  margin: 0 10px;
}

.field .input {
  width: 400px;
}

.field .input.n, .field .input.long, .field .input.short, .field .input.day {
  height: 40px;
  background-color: #f2f2f2;
  border: none;
}

.field .input.n {
  width: 400px;
}

.field .input.long {
  width: 400px;
  height: 400px;
}

.field .input.short {
  width: 200px;
}

.field .input.day {
  width: 150px;
}

.field .input.image {
  width: 150px;
  height: 35px;
  font-size: 14px;
  font-weight: bold;
  border: 2px solid black;
  color: black;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.field .input.image:hover {
  background-color: black;
  color: white;
}

.field .input.text {
  background-color: white;
  font-size: 14px;
  left: 260px;
  top: 15px;
}

.image-form {
  display: none;
}

.field.long {
  height: 500px;
}

.field .input-time {
  width: 400px;
}

.field .input-time .time {
  width: 60px;
  height: 40px;
  background-color: #f2f2f2;
  border: none;
}

.mandatory {
  color: red;
  font-size: 10px;
}

.any {
  color: skyblue;
  font-size: 10px;
}

.submit {
  text-align: center;
}

.submit.login, .submit.new, .submit.create, .submit.joining {
  background-color: black;
  height: 50px;
  width: 600px;
  margin: 40px 0 100px 0;
  color: white;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 3px;
  cursor: pointer;
}

.submit.login:hover, .submit.new:hover, .submit.create:hover, .submit.joining:hover {
  opacity: 80%;
}

@media (max-width: 600px) {
  .field {
    width: 400px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .field .field-item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .field .field-item .item {
    font-size: 13px;
    font-weight: bold;
    margin: 0 10px;
  }
  .field .input {
    width: 400px;
    text-align: center;
  }
  .field .input.image {
    margin: 0 auto;
  }
  .field .input-time {
    text-align: center;
  }
  .submit.login, .submit.new, .submit.create, .submit.joining {
    width: 400px;
  }
}

.user-top-bg {
  background-color: #0073d7;
  height: 200px;
}

.user-show-user {
  margin-top: -150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-show-user .user-name {
  font-size: 40px;
  font-weight: bold;
  color: #333333;
  text-decoration: none;
}

.user-show-user .user-img {
  border-radius: 50%;
  background-color: #B3B3B3;
  width: 250px;
  height: 250px;
  border: 10px solid white;
}

.user-show-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  font-size: 16px;
  font-weight: bold;
  padding: 0;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-show-items .user-item {
  margin-right: 20px;
}

.user-profile {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 50px;
  white-space: pre-wrap;
  text-align: center;
  line-height: 28px;
}

.user-bottom-bg {
  background-color: #f2f2f2;
  padding: 20px 0 80px 0;
}
/*# sourceMappingURL=users.css.map */